
.idea/
.classpath
.project
.settings
##filter databfile¡¢sln file##
*.mdb
*.ldb
*.sln
##class file##
*.com
*.class
*.dll
*.exe
*.o
*.so
# compression file
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.iml
*.docx
*.pptx
*.ppt
*.zip

/.metadata/
/.recommenders/
/Gomoku/
